<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CasePortal</title>
    <link rel="stylesheet" href="~/css/views/global.css" asp-append-version="true" />

    @* Styles from ViewComponents/Partials/Views *@
    @RenderSection("Styles", required: false)

    @* Scripts from ViewComponents/Partials/Views *@
    @RenderSection("Scripts", required: false)
</head>
<body>
    <header>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - CasePortal
        </div>
    </footer>
</body>
</html>
